<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ Copyright (c) 2012, Red Hat, Inc. and/or its affiliates or third-party contributors as
  ~ indicated by the @author tags or express copyright attribution
  ~ statements applied by the authors.  All third-party contributions are
  ~ distributed under license by Red Hat, Inc.
  ~
  ~ This copyrighted material is made available to anyone wishing to use, modify,
  ~ copy, or redistribute it subject to the terms and conditions of the GNU
  ~ Lesser General Public License, as published by the Free Software Foundation.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
  ~ or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Lesser General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public License
  ~ along with this distribution; if not, write to:
  ~ Free Software Foundation, Inc.
  ~ 51 Franklin Street, Fifth Floor
  ~ Boston, MA  02110-1301  USA
  -->
<module xmlns="urn:jboss:module:1.1" name="org.apache.lucene" slot="3.6.2">
    <resources>
        <resource-root path="lucene-core-3.6.2-redhat-1.jar" />
        <resource-root path="lucene-core-3.6.2-redhat-1.jar" />
        <resource-root path="lucene-analyzers-3.6.2-redhat-1.jar" />
        <resource-root path="lucene-highlighter-3.6.2-redhat-1.jar" />
        <resource-root path="lucene-memory-3.6.2-redhat-1.jar" />
        <resource-root path="lucene-kuromoji-3.6.2-redhat-1.jar" />
        <resource-root path="lucene-misc-3.6.2-redhat-1.jar" />
        <resource-root path="lucene-phonetic-3.6.2-redhat-1.jar" />
        <resource-root path="lucene-spatial-3.6.2-redhat-1.jar" />
        <resource-root path="lucene-spellchecker-3.6.2-redhat-1.jar" />
        <resource-root path="lucene-grouping-3.6.2-redhat-1.jar" />
        <resource-root path="lucene-smartcn-3.6.2-redhat-1.jar" />
        <resource-root path="lucene-stempel-3.6.2-redhat-1.jar" />
        <resource-root path="lucene-facet-3.6.2-redhat-1.jar" />

        <resource-root path="lucene-regex-3.0.3.jar" />
        <resource-root path="jakarta-regexp-1.4.jar" />
    </resources>
    <dependencies>
        <module name="javax.api" optional="true" />
    </dependencies>
</module>
