<module xmlns="urn:jboss:module:1.1" name="org.springframework.spring">
  <resources>
    <resource-root path="spring-beans-3.2.12.RELEASE.jar"/>
    <resource-root path="spring-context-3.2.12.RELEASE.jar"/>    
    <resource-root path="spring-core-3.2.12.RELEASE.jar"/>
    <resource-root path="spring-asm-3.1.4.RELEASE.jar"/>
    <resource-root path="spring-expression-3.2.12.RELEASE.jar"/>
    
    <resource-root path="spring-aop-3.2.12.RELEASE.jar"/>   
    <resource-root path="spring-tx-3.2.12.RELEASE.jar"/>
  </resources>
  <dependencies>
    <module name="javax.api"/>
    <module name="org.apache.commons.logging"/> 
  </dependencies>
</module>
